.reveal ul + ul {
  margin-left: 100px;
}

.reveal ul ul {
  list-style: initial;
}

.reveal .slides {
  text-align: left;
}

.svg-icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 3rem;
}

.svg-icon--email {
  color: #2AA3EF;
}

.svg-icon--solid {
  color: #e41e26;
}

.svg-icon__solid {
  width: 2rem;
}

.column {
  display: inline-block;
}

.grid {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.grid--3-center {
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.row {
  grid-column: 1 / 3;
}

.reveal pre {
  font-size: 1rem;
  box-shadow: none;
  margin: 20px 0;
}

.reveal pre.code__continuation {
  margin-top: -77px;
}

.reveal pre code {
  padding: 8px 16px;
}

.fragment.zoom-in.disappear,
.fragment.fade-out.visible.disappear,
.fragment.fade-in-then-out.disappear {
  display: none;
}

.fragment.zoom-in.disappear.visible,
.fragment.fade-in-then-out.disappear.current-fragment {
  display: block;
}

.line { display: block; }
.line.focus { background: yellow; }
/* include a highlight.js theme and modify it */
/* … */
/* on focused: switch to solarized light */
.line.focus { background: #fdf6e3; color: #657b83; }
.line.focus .hljs-comment, .line.focus .hljs-quote { color: #93a1a1; }
/* … */

.reveal small {
  vertical-align: baseline;
}

.reveal .fragment__not-top-row {
  margin-top: 40px;
}

.reveal section img {
  border: none;
  background: none;
  margin: 0;
  box-shadow: none;
}

.reveal table {
  margin: 0;
}


element.style {
  white-space: normal;
}
